:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 256px 224px;
    }
}